<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Port" value="515" />
		<add key="IPGroup" value="LAN1" />
		<add key="CheckIntervalSeconds" value="10"/>
		<add key="CDRHistoryPeriodSeconds" value="10"/>
		<add key="MaxCallsThreshold" value="3"/>
		<add key="BlackListDurationSeconds" value="60"/>
	</appSettings>
</configuration>